  /* background color property  */
        h3 {
            background-color: lightgreen;
            /* OR  */
            /* background-color:#64bc8c; */
            /* OR */
            /* background-color:rgb(173, 87, 173); */
            padding: 50px;
        }

        /* background img property  */
        .img {
            background-image: url("img/istockphoto-1550071750-612x612.jpg");
            width: 400px;
            height: 500px;
            color: black;
            font-size: 30px;
        }

        /* background repeat property(repeat, repeat-x[horizontal] , repeat-y[vertical] , no-repeat) */
        .repeat {
            background-repeat: repeat;
            background-image: url("img/istockphoto-1550071750-612x612.jpg");
            height: 200px;
            color: black;
            font-size: 30px;
        }

        /* background attachment property (scroll & fixed)*/
        .attachment {
            background-attachment: fixed;
            background-image: url("img/istockphoto-1550071750-612x612.jpg");
            color: #fff;
        }

        /* background position property (text [e.x=left bottom, right top] \ percentage[e.x=0% 100%] )*/
        .position {
            background-position: left;
            background-image: url("img/istockphoto-1550071750-612x612.jpg");
            color: #fff;
        }

        /* background size property (cover & contain) */
        .size {
            background-size: contain;
            background-image: url("img/istockphoto-1550071750-612x612.jpg");
            color: #fff;
            height: 500px;
        }